.git
.venv
venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.idea
logs
minio_restore
minio_data
minio_data.tar.gz
*.tar.gz
*.dump
*.sql
.env
.env.yandex.local
backups
collect-all.log
.DS_Store
bin
